## Information
This Is The Code For House Price Prediction Machine Learning Model.<br>
The Model Is Trained On Bangalore House Data.<br>
Link Of CSV File:- https://www.kaggle.com/datasets/saipavansaketh/pune-house-data?select=Bangalore++house+data.csv

In [1]:
import pandas as pd
import numpy as np

## Loadind And Visualing The Data

In [2]:
BangDf = pd.read_csv("HouseData_Bangalore.csv")

In [3]:
BangDf.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
BangDf.shape

(13320, 9)

In [5]:
BangDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
BangDf.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [7]:
for column in BangDf.columns:
    print(BangDf[column].value_counts())
    print("*"*40)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
****************************************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
****************************************
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64
****************************************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
****************************************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
****************************************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
****************************************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
****************************************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
****************************************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
****************************************

## Replacing Null Values

In [8]:
BangDf.drop(columns=["area_type", "availability", "society", "balcony"], inplace=True)

In [9]:
BangDf.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [10]:
BangDf["location"].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

In [11]:
BangDf["location"] = BangDf['location'].fillna("Sarjapur  Road")

In [12]:
BangDf["size"].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [13]:
BangDf["size"] = BangDf['size'].fillna("2 BHK")

In [14]:
BangDf["bath"] = BangDf['bath'].fillna(BangDf["bath"].median())

In [15]:
BangDf["bhk"] = BangDf["size"].str.split().str.get(0).astype(int)

In [16]:
BangDf[BangDf.bhk > 10]

                            location        size total_sqft  bath  price  bhk
459                     1 Giri Nagar      11 BHK       5000   9.0  360.0   11
1718       2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
1768              1 Ramamurthy Nagar  11 Bedroom       1200  11.0  170.0   11
3379                  1Hanuman Nagar      19 BHK       2000  16.0  490.0   19
3609   Koramangala Industrial Layout      16 BHK      10000  16.0  550.0   16
3853               1 Annasandrapalya  11 Bedroom       1200   6.0  150.0   11
4684                     Munnekollal  43 Bedroom       2400  40.0  660.0   43
4916                   1Channasandra      14 BHK       1250  15.0  125.0   14
6533                     Mysore Road  12 Bedroom       2232   6.0  300.0   12
7979                   1 Immadihalli      11 BHK       6000  12.0  150.0   11
9935                   1Hoysalanagar      13 BHK       5425  13.0  275.0   13
11559                  1Kasavanhalli  18 Bedroom       1200  18.0  200.0   18

In [17]:
BangDf.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [18]:
# Some values in "total_sqft" are in range, so we need to convert them
def convertRangeValue(x):
    value = x.split("-")
    if len(value) == 2:
        return (float(value[0]) + float(value[1])) / 2
    try:
        return float(x)
    except:
        return None
    
BangDf.total_sqft = BangDf["total_sqft"].apply(convertRangeValue)

In [19]:
BangDf.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

## Price Per sqft

In [20]:
# Making a new column "price_per_sqft"
BangDf["price_per_sqft"] = BangDf.price * 100000 / BangDf.total_sqft

In [21]:
BangDf.location = BangDf.location.apply(lambda x: x.strip())
total_locations = BangDf.location.value_counts()
location_count_less_10 = total_locations[total_locations <= 10]

In [22]:
BangDf.location = BangDf.location.apply(lambda x: "Others" if x in location_count_less_10 else x)

## Outlier Detection and removal

In [23]:
BangDf.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [24]:
BangDf = BangDf[((BangDf.total_sqft / BangDf.bhk) >= 300)]
BangDf.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [25]:
def removeOutlier_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby("location"):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        new_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output, new_df], ignore_index=True)
    return df_output
BangDf = removeOutlier_sqft(BangDf)
BangDf.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [26]:
# Removing record having outlier in "bhk" 
def removeOutlier_bhk(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby("location"):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby("bhk"):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby("bhk"):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count'] > 5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices, axis='index')
BangDf = removeOutlier_bhk(BangDf)

In [27]:
BangDf.shape

(7360, 7)

In [28]:
BangDf[BangDf.bhk > 10]

     location    size  total_sqft  bath  price  bhk  price_per_sqft
5501   Others  11 BHK      5000.0   9.0  360.0   11     7200.000000
6051   Others  16 BHK     10000.0  16.0  550.0   16     5500.000000
6784   Others  11 BHK      6000.0  12.0  150.0   11     2500.000000
7116   Others  13 BHK      5425.0  13.0  275.0   13     5069.124424

In [29]:
BangDf[BangDf.bath > 10]

            location    size  total_sqft  bath  price  bhk  price_per_sqft
5313  Neeladri Nagar  10 BHK      4000.0  12.0  160.0   10     4000.000000
5962          Others  10 BHK     12000.0  12.0  525.0   10     4375.000000
6051          Others  16 BHK     10000.0  16.0  550.0   16     5500.000000
6784          Others  11 BHK      6000.0  12.0  150.0   11     2500.000000
7116          Others  13 BHK      5425.0  13.0  275.0   13     5069.124424

In [30]:
# Removing record having "bath" > 10 or "bhk" > 10
BangDf.bath = BangDf.bath.apply(lambda x: 9 if x >= 10 else x)
BangDf.bhk = BangDf.bhk.apply(lambda x: 9 if x >= 10 else x)

In [31]:
BangDf.drop(columns=["price_per_sqft", "size"], inplace=True)

In [32]:
BangDf.describe()

         total_sqft         bath        price          bhk
count   7360.000000  7360.000000  7360.000000  7360.000000
mean    1496.928526     2.445380    99.094892     2.498098
std      865.839979     0.987491    93.343057     0.906408
min      300.000000     1.000000    10.000000     1.000000
25%     1095.750000     2.000000    50.000000     2.000000
50%     1260.000000     2.000000    73.100000     2.000000
75%     1680.000000     3.000000   113.000000     3.000000
max    30000.000000     9.000000  2200.000000     9.000000

## Cleaned Data

In [33]:
BangDf.rename(columns = {'location':'location', 'total_sqft':'area', 'bath':'bath', 'price':'price', 'bhk':'bhk'}, 
              inplace = True)
BangDf.head()

              location    area  bath  price  bhk
0  1st Block Jayanagar  2850.0   4.0  428.0    4
1  1st Block Jayanagar  1630.0   3.0  194.0    3
2  1st Block Jayanagar  1875.0   2.0  235.0    3
3  1st Block Jayanagar  1200.0   2.0  130.0    3
4  1st Block Jayanagar  1235.0   2.0  148.0    2

In [34]:
# Saving the cleaned data as new CSV file
BangDf.to_csv("PureHouseData_Bangalore.csv")

## Building The Model

In [35]:
X = BangDf.drop(columns=["price"])
y = BangDf["price"]

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [38]:
print(X_train.shape)
print(X_test.shape)

(5888, 4)
(1472, 4)

In [39]:
columns_trains = make_column_transformer((OneHotEncoder(sparse=False), ["location"]), remainder="passthrough")

In [40]:
scaler = StandardScaler()

In [41]:
lr = LinearRegression(normalize=True)

In [42]:
pipe = make_pipeline(columns_trains, scaler, lr)

In [43]:
pipe.fit(X_train, y_train)

C:\Users\ashra\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [44]:
y_predict = pipe.predict(X_test)

In [45]:
# Accuracy of the model
round(r2_score(y_test, y_predict)*100, 2)

82.87

In [46]:
# Function to display the price in formatted form
def showFormattedPrice(x):
    price = round(x * 100000)
    formatted_price = "₹{:,.2f}".format(price)
    return formatted_price

In [47]:
# Testing the model with custom data
location = "Others"
area = 300
bath = 5.0
bhk = 6
input_data = pd.DataFrame([[location, area, bath, bhk]], columns=["location", "area", "bath", "bhk"])
output_value = pipe.predict(input_data)[0]
print(showFormattedPrice(output_value))

₹2,719,995.00

## Saving The Model

In [48]:
import pickle

In [49]:
pickle.dump(pipe, open("TrainedModel_Bangalore.pkl", "wb"))

## Loading The Trained Model

In [50]:
model = pickle.load(open("TrainedModel_Bangalore.pkl", "rb"))

In [51]:
# Testing with custom data
input_data = pd.DataFrame([["Devarachikkanahalli", 700, 2, 7]], columns=["location", "area", "bath", "bhk"])
output_value = model.predict(input_data)[0]
print(showFormattedPrice(output_value))

₹-320,390.00